<header class="header">
  <a href="/" class="header-title">
    Elena Renn
  </a>
  <div class="menu">
    <div class="menu__toggle js-menu-toggle">
      <div class="menu__toggle__icon"><span></span></div>
    </div>
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="/" class="menu__list__item__link cc-active active-link">Art</a>
      </li>

      <li class="menu-list-item">
        <a href="/comic1/001" class="menu__list__item__link">Comics</a>
      </li>

      <li class="menu-list-item">
        <a href="/about" class="menu__list__item__link">About</a>
      </li>

      <li class="menu-list-item">
        <a href="/contact" class="menu__list__item__link">Contact</a>
      </li>

      <li class="menu-list-item">
        <a href="/contact" class="menu__list__item__link">Store</a>
      </li>
    </ul>
  </div>
</header>
