html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 1rem;
  flex: 1 0 auto;
  max-width: 800px;
}

.masonry {
  display: flex;
  max-height: 1000px;
  flex-flow: column wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  overflow-x: scroll;
}

.masonry-brick {
  width: 50%;
  margin: 0 8px 8px 0; /* Some gutter */
}

.masonry-img {
  border-radius:  5px;
  object-fit: contain;
  width: 100%;
  height: 100%;
  // filter: brightness(50%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: $black-color;
    flex-shrink: 0;
  }


  .social {
    list-style: none;
    padding: 0 0;
    align-self: flex-end;
    display: flex;

    li {
      margin-right: .5rem
    }
  }
}


@media (min-width: 768px) {
  .masonry-brick {
    width: 33.33%;
  }
}

.comics-list {
  display: flex;
  flex-direction: column;

  .comics-list-item {
    display: flex;
    align-items: flex-start;

    img {
      height: 150px;
      width: 100px;
      object-fit: contain;
    }
  }
}
