---
layout: default
---
{% assign comic_name = page.categories | last %}
{% assign comic = site.categories[comic_name] %}
{% assign page_number = page.title | plus: 0 %}

<div class="comic-body">
  {{ content }}
  <ul class="pagination">
    {% unless page_number == 1 %}
      <li>
        <a
          class="btn btn-outline-secondary"
          href="{{ site.url }}/{{ page.categories | join: '/' }}/001#top-page"
          >First</a>
      </li>
      <li>
          <a
            class="btn btn-outline-secondary"
            href="{{ site.url }}/{{ page.categories | join: '/' }}/{{ page.title | minus: 1  | prepend: '000' | slice: -3, 3 }}#top-page"
            >Previous</a
          >
      </li>
    {% endunless %}
    {% if page_number < comic.size %}
      <li>
        <a
          class="btn btn-outline-primary"
          href="{{ site.url }}/{{ page.categories | join: '/' }}/{{ page.title | plus: 1  | prepend: '000' | slice: -3, 3 }}#top-page"
          >Next</a
        >
      </li>
      <li>
        <a
          class="btn btn-outline-secondary"
          href="{{ site.url }}/{{ page.categories | join: '/' }}/{{ comic.size | prepend: '000' | slice: -3, 3 }}#top-page"
          >Latest</a
        >
      </li>
    {% endif %}
  </ul>
</div>
