---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">

        {% include header.html %}

        <div class="jumbotron">
          <a href={{ site.url }}/index.html><h1>{{ site.title }}</h1></a>
          <p>{{ site.description }}</p>
        </div>

        <div class="col-md-12 center">
            {% include navigation.html %}
          <div class="panel center col-md-12">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
